# https://symfony.com/doc/6.0/messenger/multiple_buses.html

# config/packages/messenger.yaml
framework:
  messenger:
    # The bus that is going to be injected when injecting MessageBusInterface
    default_bus: command.bus
    buses:
      command.bus:
        # class: Framework\Component\Messenger\CommandBus
        middleware:
          - validation
          # each time a message is handled, the Doctrine connection
          # is "pinged" and reconnected if it's closed. Useful
          # if your workers run for a long time and the database
          # connection is sometimes lost
          # - doctrine_ping_connection

          # After handling, the Doctrine connection is closed,
          # which can free up database connections in a worker,
          # instead of keeping them open forever
          # - doctrine_close_connection

          # logs an error when a Doctrine transaction was opened but not closed
          # - doctrine_open_transaction_logger

          # wraps all handlers in a single Doctrine transaction
          # handlers do not need to call flush() and an error
          # in any handler will cause a rollback
          # - doctrine_transaction

          # or pass a different entity manager to any
          #- doctrine_transaction: ['custom']
      query.bus:
        middleware:
          - validation
      event.bus:
        default_middleware:
          enabled: true
          # set "allow_no_handlers" to true (default is false) to allow having
          # no handler configured for this bus without throwing an exception
          allow_no_handlers: false
          # set "allow_no_senders" to false (default is true) to throw an exception
          # if no sender is configured for this bus
          allow_no_senders: true
        middleware:
          - validation
